.resume-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}

.contact-section, .summary-section, .education-section, .experience-section {
    margin-bottom: 20px;
}

.contact-card, .summary-card, .education-card, .experience-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 30px;
}

.contact-card p, .summary-card p, .education-card p, .experience-card p {
    margin: 0;
    padding: 0;
}
