.resume-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.contact-section {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.education-section {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.experience-section {
    background-color: #d0d0d0;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.experience-card {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}